In [13]:
import numpy as np

print (np.__version__)

1.26.4

In [1]:
print("Hello, Google Colab!")

Hello, Google Colab!

In [7]:
import numpy as np

a = [1, 2, 3]
b = [4, 5, 6]

a_array = np.array(a)
b_array = np.array(b)

hasil = a_array + b_array

print(hasil)

[5 7 9]

In [8]:
import numpy as np

# membuat array
nilai_siswa = np.array([85, 55, 40, 90])

# mengakses data pada array
print(nilai_siswa[3])

90

nilai_siswa[3] mengakses elemen ke-4 dari array tersebut (karena indeks di Python dimulai dari 0).

In [9]:
print("Hello, World!")
print("Nama saya Teesa Shahnaz Triviraquetta")
print("NIM saya 2023071062")

Hello, World!
Nama saya Teesa Shahnaz Triviraquetta
NIM saya 2023071062

In [10]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [11]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [12]:
x = 4
x = "Sally"
print(x)

Sally

print(x)  mencetak nilai terbaru dari x, yaitu "Sally".

In [1]:
def getFirst(myList):
    return myList [0]

getFirst([1,2,3])

1

In [2]:
getFirst ([1,2,3,4,5,6])

1

In [5]:
#cara dapet getSecond
def getSecond(myList):
    return myList[1]

getSecond([1, 2, 3])

2

In [6]:
#cara dapet getLast
def getLast(myList):
    return myList[-1]

getLast([1, 2, 3,4, 5, 6, 7, 8])

8

In [8]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum

getSum([1, 2, 3, 4])

10

In [9]:
getSum ([1,2,3])

6

In [10]:
#cara mengalikan seluruh angka
def getKali(myList):
    hasil = 1
    for item in myList:
        hasil = hasil * item
    return hasil

print(getKali([1, 2, 3, 4]))

24

In [12]:
#cara membagi seluruh angka
def getBagi(myList):
    if not myList:
        raise ValueError("List tidak boleh kosong")

    hasil = myList[0]

    for item in myList[1:]:
        if item == 0:
            raise ZeroDivisionError("Pembagian dengan nol tidak diperbolehkan")
        hasil /= item

    return hasil

print(getBagi([4, 2]))

2.0

In [18]:
def getSum(myList):
    sum = 0
    for row in myList:
        for item in row:
            sum+=item
    return sum

getSum([[1,2,5],[3,4,7]])

22

In [19]:
getSum ([[1,2], [3,4]])

10

In [20]:
#membagi 2 himpunan angka
def getBagiSum(list1, list2):
    if len(list1) != len(list2):
        raise ValueError("Kedua list harus memiliki panjang yang sama")

    sum = 0
    for a, b in zip(list1, list2):
        if b == 0:
            raise ZeroDivisionError("Pembagian dengan nol tidak diperbolehkan")
        sum += a / b

    return sum

list1 = [10, 20, 30]
list2 = [2, 4, 5]
print(getBagiSum(list1, list2))

16.0

In [ ]:
#mengurangi 2 himpunan angka
def getKurangSum(list1, list2):
    if len(list1) != len(list2):
        raise ValueError("Kedua list harus memiliki panjang yang sama")

    total = 0
    for a, b in zip(list1, list2):
        total += a - b

    return total

list1 = [10, 20, 30]
list2 = [1, 2, 3]
print(getKurangSum(list1, list2))

In [24]:
#logarithmic
def searchBinary(myList, item):
    first = 0
    last = len(myList)-1
    foundFlag = False
    while( first<=last and not foundFlag):
        mid = (first + last)//2
        if myList[mid] == item:
            foundFlag = True
        else:
            if item < myList[mid]:
                last = mid - 1
            else:
                first = mid + 1

    return foundFlag

searchBinary ([8,9,10,100,1000,2000,3000], 10)

True

In [25]:
searchBinary([8,9,10,100,1000,2000,3000], 5)

False